<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://i.postimg.cc/JG2gFgJg/logo.png" width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
      <div class="icon">
        <div class="search_icon_box"></div>
        <span id="sort_icon" class="target-icon">
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/sort/rating">餐廳評分</a>
              <a class="dropdown-item" href="/sort/asc">A -> Z</a>
              <a class="dropdown-item" href="/sort/desc">Z -> A</a>
            </div>
          </div>
        </span>
        <span id="search_icon" class="target-icon"><i class="fas fa-search"></i></span>
        <div class="search_box">
          <form action="/restaurants/search">
            <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
              value="{{key}}" aria-describedby="search-button">
            <button class="search-button" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            <button class="close-button" type="button" id="close-button"><i class="fas fa-times"></i></button>
          </form>
        </div>
        <span id="new_icon" class="target-icon">
          <a href="/restaurants/new">
            <i class="fas fa-folder-plus"></i>
            <div class="here"></div>
          </a>
        </span>
        <span id="logout_icon" class="target-icon"><a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a></span>
      </div>
    </div>
  </nav>

  <div class="banner"></div>
</header>
<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        <!--list-->
        {{#each restaurants}}
        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card mb-3 animation">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i>{{this.category}}
              </div>
              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
            <div class="button-box">
              <a href="/restaurants/{{{this._id}}}">詳細資訊</a>
              <a href="/restaurants/{{{this._id}}}/edit">修改</a>
              <form action="/restaurants/{{{this._id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
                <button id="delete_button" type="submit" class="btn btn-sm btn-dark">刪除</button>
              </form>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>